html {
    font-family :'Lucida Console'
}

body {
    margin: 4% 10% 0% 10%;
}

.bar-background {
    border-style: dashed;
    border-color: #560057;
    border-width: 4px;
    border-radius: 20px;
    background-color: #e1c4e4;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 20px;
    width: 0%;
    background-color: rgb(108, 17, 107);
    height: 100%;
    margin-bottom: 10px;
    align-content: center;
}

.progress-counter {
    margin-left: 10px;
}